.btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;

  &:hover, &:focus {
    background-color: #18a689;
    color: red;
  }
}

.panel-footer {
    text-align: right;
    background-color: #fff;
}
/* @link    https://www.lazarodossantos.com */